/node_modules
/public/hot
/public/storage
/public/img/entries
/public/img/receipts
/public/img/sliders
/public/img/tours
/storage/*.key
/storage/*
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
.DS_Store
*.swp
sitemap-*.txt
*.lock
*.xsd
public/error_log
/docs/sliders
