/node_modules
/public/hot
/public/storage
/public/img/entries
/public/img/receipts
/public/img/sliders
/public/img/tours
/storage/*.key
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
.DS_Store
*.swp
*.lock
sitemap-*.txt
*.xsd
