/node_modules
/public/hot
/public/storage
/docs/sliders
/public/img/tours
/public/img/entries
/public/img/receipts
/public/img/sliders
/storage/*.key
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
