<style>

.entry-div-page {
	border: solid 1px rgb(232, 232, 232);
    border-radius: 6px;	
	padding: 10px;
	background-color: rgb(247, 247, 247);
	background-color: red;
}

H4 {
	color:white;
}

.float-left {
	display: flex;
	float: left;
}

.clear {
	clear:both;
}

.single-view-page {
	max-width: 1000px;
}

/***************************************************
Container
***************************************************/
.container {
	width: 100%;
	padding-left: 25px;
	padding-right: 20px;
}

/***************************************************
Controls
***************************************************/

.entry-title-div {
	margin-right: 1%;
}

.entry-description-div {
	display: block;
	margin:0;
	margin-right: 1%;
	float: left;
	width: 49%;
}

.entry-description-text {
	height: 400px !important;
}

.entry-div {
	display: flex;
}

.entry-div-copy {
	height: 10px;	
}

.entry {	
	margin: 0px 10px 0px 0px; 
	font-size: 1.3em;
	background-color: white;
	float: left;
	width: 95%;
	max-width: 600px;
}

.entry a:hover {
	text-decoration: none;
}

.entry2 {
	background-color: white;
}

.entry-copy {
	display: none;
}

.form-control-big input[type="text"]
, .form-control-big input[type="email"]
, .form-control-big input[type="password"] 
{
	font-size: 1.5em;
	padding: 5px 5px 5px 10px;
	margin-top: 10px;
	height: 45px;
	border-radius: 7px;
}

.form-control-big textarea
{
	font-size: 1.5em;
	padding: 5px 5px 5px 10px;
	margin-top: 10px;
	border-radius: 7px;
	margin-bottom: 20px;
}

.form-control-big input[type="checkbox"] {
    height: 20px;
    width: 20px;
	line-height: 20px;
	vertical-align: middle;
	font-size: 1.5em;
	margin-bottom: 10px;
}

.checkbox-big-label
{
	font-size: 1.2em;
	padding: 5px 5px 5px 0px;
	margin: 0px 0px 10px 0px;
}

	
/***************************************************
Sub Menu
***************************************************/

div.submenu {
	float: left;
	margin-left: 20px;
}

ul.submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: default;
}

.submenu li {
    float: left;
}

.submenu li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}

.submenu input {
	xpadding: 10px;
}

.submenu li a:hover {
    background-color: #eaf1fc;
}

.submenu li a span {
	color: #337AB7; 
	font-size: 2em;
}

.entriesHeader { 
	color: #337AB7; 
	font-size: 1.75em;
	margin-left: 10px; /* after the glyph */
}

.middle {
	vertical-align: middle;
	line-height: 2;
}

.topMenuLiCenter { 
	padding-top: 5px; 
	padding-left: 10px;
}

.topMenuLiCenterInput  { 
	padding-top: 8px; 
	padding-left: 10px;
}

/***************************************************
Language Menu
***************************************************/

.dropbtn {
    background-color: #4CAF50;
	background-color: white;	
    color: gray;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover 
{
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    background-color: #dfdfdf;
	text-decoration: none;
}

</style>
