
.trim-text {
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
}

/*****************************************************************/
/* navbar and slider */
/*****************************************************************/

#logo-big-text {
	font-size: 3em;
	font-weight: bold;
}	

#slider-text {
	xmargin-top: 750px;
}	

#ttd-map {
	max-height:750px;
}	

/* navbar overrides */

#slider-test {
  width: 100%;
  min-height:800px;
  position: absolute;
  top: 0;
  left: 0;
}
		
#sliderWrapper { /* Need this so slider will stay the same size */
	background-color: #2CAEA4;
	background-color: white;
	min-height: 700px;
}

.main-font {
	font-family: Raleway;
}

/*****************************************************************/
/* front page sections (from theme1) */
/*****************************************************************/
	
	section.explain {
		padding: 50px 0 40px 0;
	}
	
	p.explain, ul.explain, .explain li {
		text-align: left; 
		font-size: 20px;
		font-weight: bold; 
	}
	
	.explain li {
		margin-bottom: 20px;
	}
	
	.sectionOrange, .sectionYellow, .sectionBlue, .sectionWhite, .sectionGreen {
		padding: 50px 0 40px 0;
	}

	.sectionWhite {
		background-color: LightGray;
		background-image: url('/img/theme1/pattern-tiles.jpg');				
		background-size: cover;
		background-position: center;		
		color: #3F98FD;
	}

	.sectionGreen {
		background-color: #5CB85C;
		background-image: url('/img/theme1/pattern-tiles.png');				
		color: white;
	}
		
	.purple {
		background-color: #6E24D0!important; 
		color: white;
	}
	
	.DarkPurple {
		background-color: #390283;
		color: white;
	}
	
	.powerBlue {
		background-color: #3F98FD;
		xbackground-image: url('/img/theme1/pattern-tiles.png');				
		color: white;
	}

	.DarkBlue {
		background-color: #1C5290;
		color: white;
	}
		
	.sectionOrange {
		background-color: #FF6900;
		color: white;
	}
	
	.sectionYellow {
		background-color: #FF6900;
		color: white;
	}
	
	.sectionBlue, .sectionBlue h3 {
		background-color: #3F98FD;
		color: white;
	}
	
	.sectionWhitePattern {
		background-image: url("/img/bg-white.jpg");
		background-size: cover;
		background-position: center;		
	}
	
	.sectionImage {
		display: inline-block; 
		padding-top: 15px; 
		font-size: 55px; 
		width: 100px; 
		height: 100px; 
		border: 3px solid white; 

		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
	}
		
	.sectionImageBlue {
		border-color: #3F98FD; 
		color: #3F98FD;
	}
	a.sectionImageBlue:hover {
		text-decoration: none;
	}
	
	.textWhite {
		color: white;
	}
	
	.sectionImageWhite {
		color: white;
	}
	a.sectionImageWhite:hover {
		text-decoration: none;
	}
	
	.steps {
		padding: 10px;
		font-size: 20px;
		margin: 5px;
		min-height: 220px;
		border: white 3px solid;
		border-radius: 10px;
	}
	.step1 {
		background-color: MediumTurquoise;
	}
	.step2 {
		background-color: yellow;
	}
	.step3 {
		background-color: Orchid;
	}
	.step4 {
		background-color: lightGreen;
	}
	.step5 {
		background-color: cyan;
	}
	.step6 {
		background-color: lightSalmon;
	}
	
	.glyphspace {
		padding-right: 20px;
	}
	.glyphspace5 {
		padding-right: 5px;
	}
	.glyphspace10 {
		padding-right: 10px;
	}	
		
	.sliderTextPanel {
		margin-bottom: 20px;
		display: inline-block;
		background: rgba(0, 0, 0, 0.5);
		border: gray 1px solid;
		border-radius: 15px;
		text-shadow:
			-1px -1px 0 black,  
			 1px -1px 0 black,
			-1px  1px 0 black,
			 1px  1px 0 black;	
		
	}	
	.sliderText h1, .sliderText h2{
		line-height: 1.2em;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.sliderText h2 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
		
	.logos img {
		float: left;
		max-width: 100px;
	}
	
	.marginTop10 { margin-top: 10px; }
	.marginTop20 { margin-top: 20px; }
	.marginTop30 { margin-top: 30px; }
	.marginTop40 { margin-top: 40px; }
	.marginTop50 { margin-top: 50px; }
	.marginTop100 { margin-top: 100px; }
		
	.btn-lg {
		font-size: 2em;
	}
	
	.btn-md {
		font-size: 1.5em;
		font-weight: bold;
	}
	
	  .form-control-big input[type="text"]
	, .form-control-big input[type="email"]
	, .form-control-big input[type="password"] 
	{
		font-size: 1.5em;
		padding: 5px 5px 5px 10px;
		margin-top: 10px;
		height: 45px;
		border-radius: 7px;
	}

	.form-control-big textarea
	{
		font-size: 1.5em;
		padding: 5px 5px 5px 10px;
		margin-top: 10px;
		border-radius: 7px;
	}
	
	form.form-horizontal {
		padding: 0 20px;
	}
	
	.formControlSpace {
		margin-bottom: 10px;
	}
	.formControlSpace20 {
		margin-bottom: 20px;
	}
		
	.sectionHeader h1 {
		margin-bottom: 30px;
	}

	.bgWhite {
		background-color: white;
	}
	.bgRed {
		background-color: red;
	}
	.bgGreen {
		background-color: #70DC70;
	}
	.bgBlue {
		background-color: #286090;
	}
	
	.marginBottom20 {
		margin-bottom: 20px;
	}
	.marginBottom30 {
		margin-bottom: 30px;
	}
	.marginBottom40 {
		margin-bottom: 40px;
	}
	.marginBottom50 {
		margin-bottom: 50px;
	}

.headerHeightOffset {
	xheight: 72px;		/* this gets changed by js */
	xmax-height: 72px;	/* used by js to reset after height gets changed by js */
}

.sliderText {
	color: white;
	padding-top: 100px;	
}	

.scrollUp {
    z-index: 9999999999999;
    position: absolute;
    bottom: 3px;
    right: 3px;
}

.font-open-sans-400 {
	font-weight: 400; font-family: 'Open Sans', sans-serif;
}
.font-open-sans-300 {
	font-weight: 300; font-family: 'Open Sans', sans-serif;
}

.message {
	padding: 10px;
	font-size: 1.2em;
}


/*******************************************************************************

Flash Messages

********************************************************************************/
.error {
	background-color: #FF5656;
	color: white;
}

.success {
	background-color: LightGreen;
}

#xslider {
	background-position: center;		
	background-repeat: no-repeat;
	background-size: 95%;
	min-height: 700px;
}

#slider-TEST {
	background-size: contain;
	min-height: 700px;
}

/**************************************************************************************************
	Style for the frontpage big random slider image
***************************************************************************************************/

.slider-center {
	margin-right: auto; margin-left: auto;
    text-align: center;	
}

#slider {
	background-size:100%; 
	background-position:cover;
}

#slider-spacer {
	visibility: hidden; /* don't need to see it, it's just for auto scaling
}
	
/**************************************************************************************************

Media specific overrides go below here

***************************************************************************************************/

/****************** overrides for size LG ********************************/	

@media (min-width: 1201px) 
{	
	#text-lg {	display: initial;	}
	#text-md {	display: none;	}
	#text-sm {	display: none;	}
	#text-xs {	display: none;	}
	
	#tours-lg { display:initial; }
	#tours-md { display:none; }
	
	#tag-line { 
		display:block; 
		font-size:2em;
	}
	
	.welcome-text { font-size:2em; }
}
	
/****************** overrides for size MD ********************************/	
@media (min-width: 992px) and (max-width: 1200px) 
{	
	#text-lg {	display: none;	}
	#text-md {	display: initial;	}
	#text-sm {	display: none;	}
	#text-xs {	display: none;	}
		
	#tours-lg { display:none; }
	#tours-md { display:initial; }
	
	#tag-line { 
		display:block; 
		font-size:1.8em;
	}
	
	.welcome-text { font-size:1.5em; }

	#logo-big {
		/* width: 200px; */
	}
	
	#logo-big-text {
		font-size: 3em;
		font-weight: bold;
	}	

	#slider-text {
		xmargin-top: 750px;
	}	
	
	#ttd-map {
		max-height:750px;
	}	
}	
	
/****************** overrides for size SM ********************************/
@media (min-width: 768px) and (max-width: 991px) 
{
	#text-lg {	display: none;	}
	#text-md {	display: none;	}
	#text-sm {	display: initial;	}
	#text-xs {	display: none;	}
	
	#tours-lg { display:none; }
	#tours-md { display:initial; }
	
	#tag-line { 
		display:block; 
		font-size:1.5em;
	}
	
	.welcome-text { font-size:1.5em; }
	
	#logo-big {
		width: 300px;
	}
	
	#logo-big-text {
		font-size: 2em;
	}

	#slider-text {
		xmargin-top: 750px;
	}	

	#ttd-map {
		max-height:150px;
	}	
}

/****************** overrides for size XS *******************************/	
@media (max-width: 767px) 
{
	#text-lg {	display: none;	}
	#text-md {	display: none;	}
	#text-sm {	display: none;	}
	#text-xs {	display: initial;	}
		
	#tours-lg { display:none; }
	#tours-md { display:initial; }
		
	#tag-line { display:none; }
		
	.welcome-text { font-size:1.3em; }
	
	#logo-big {
		width: 220px;
	}
	
	#logo-big-text {
		font-size: 2em;
	}	
	
	#slider-text {
		xmargin-top: 750px;
	}	

	#ttd-map {
		max-height:75px;
	}	
}

