.orange {
	background-color: #FF6900;
	color: white;
}

.purple {
	background-color: #6E24D0!important; 
	color: white;
}

.DarkPurple {
	background-color: #390283;
	color: white;
}

.blue {
	background-color: #3F98FD;
	color: white;
}

.green {
	background-color: #5CB85C;
	color: white;
}

.darkGray {
	background-color: DarkGray;
	color: white;	
}

.darkBlue {
	background-color: #327ab6; 
	color: white;
}

.gray {
	background-color: #e4e4e4;
	color: #2e2e2e;	
}

.flag-box {
	width:150px; 
	padding: 10px; 
	font-size:1em;
	font-family:verdana;
	margin: 0 10px 10px 0; 
	float:left;
	border-radius: 5px; 
}

.flag-box p {
	font-size:2.5em; 
	font-weight:bold;
	margin-bottom: 0;
}

.flag-box-title {
	font-size: 12px;
	margin-bottom: 10px;
}


.number-box {
	width:100px; 
	padding: 10px; 
	font-size:1em;
	font-family:verdana;
	margin: 0 10px 10px 0; 
	float:left;
}

.number-box p {
	font-size:2.5em; 
	font-weight:bold;
	margin-bottom: 0;
}
