.orange {
	background-color: #FF6900;
	color: white;
}

.purple {
	background-color: #6E24D0!important; 
	color: white;
}

.DarkPurple {
	background-color: #390283;
	color: white;
}

.blue {
	background-color: #3F98FD;
	color: white;
}

.red {
	background-color: #f00;
	color: white;
}

.green {
	background-color: #5CB85C;
	color: white;
}

.pineForest {
	background-color: ForestGreen;
	color: white;
}

.darkGray {
	background-color: DarkGray;
	color: white;	
}

.darkBlue {
	background-color: #327ab6; 
	color: white;
}

.gray {
	background-color: #ececec;
	color: #2e2e2e;	
}


.stats-box {
	padding: 0 20px; 
	font-size:13px;;
	font-family:verdana;
	margin: 10px 10px 10px 0; 
	float:left;
}

.stats-box a {
	color: white;
	text-decoration: none;
}

.stats-box img {
	margin: 10px 0;
}

.stats-box ul {
	margin: 20px 0;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

.stats-box li {
  float: left;
  padding: 7px;
}

.stats-box li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}


.font-10 {
	font-size:10px;
}

.flag-box {
	width:150px; 
	padding: 10px; 
	font-size:1em;
	font-family:verdana;
	margin: 0 10px 10px 0; 
	float:left;
	border-radius: 5px; 
}

.flag-box p {
	font-size:2.5em; 
	font-weight:bold;
	margin-bottom: 0;
}

.flag-box-title {
	font-size: 12px;
	margin-bottom: 10px;
}

.flag-box-footer {
	font-size: 10px;
	margin: 3px 0;
}

.number-box {
	min-width:80px; 
	padding: 10px; 
	font-size:1em;
	font-family:verdana;
	margin: 0 10px 10px 0; 
	float:left;
	min-height:90px;	
}

.number-box p {
	font-size:2.5em; 
	font-weight:bold;
	margin-bottom: 0;
}

.number-box-sm {
	min-width:50px; 
	min-height:67px;
	font-size:.8em;
	padding: 5px 10px;	
}

.number-box-sm p {
	font-size:1.3em; 
	font-weight:bold;
	margin-bottom: 0;
}

.popup-search {
    position: fixed;
    overflow-y:auto;
    max-height: 90%;
    z-index:1;
    top:  50px;
    left: 5px;

    background: #e3e3e3;

    max-width: 500px;
    width: 95%;
    padding: 10px;

    border: 1px LightGray solid;
    border-radius:5px;
}

.popup-search a {
    color: #0071f8;
}

.popup-search input {
    max-width:95%;
    margin-left:10px;
}
